Dotnet Practice/API/obj/Debug/net5.0/API.genruntimeconfig.cache
Dotnet Practice/API/obj/Debug/net5.0/ref/API.dll
Dotnet Practice/API/obj/Debug/net5.0/API.MvcApplicationPartsAssemblyInfo.cs
Dotnet Practice/API/obj/Debug/net5.0/API.dll
Dotnet Practice/API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
Dotnet Practice/API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
Dotnet Practice/API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
Dotnet Practice/API/obj/Debug/net5.0/API.assets.cache
Dotnet Practice/API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
Dotnet Practice/API/obj/Debug/net5.0/API.dll
Dotnet Practice/.idea/.idea.Dotnet Practice/riderModule.iml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/contentModel.xml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/encodings.xml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/indexLayout.xml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/modules.xml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/projectSettingsUpdater.xml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/workspace.xml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/vcs.xml
Dotnet Practice/.idea/.idea.Dotnet Practice/.idea/codeStyles/codeStyleConfig.xml
Dotnet Practice/API/bin/Debug/net5.0/API.dll
Dotnet Practice/API/bin/Debug/net5.0/API.exe
Dotnet Practice/API/bin/Debug/net5.0/API.pdb
Dotnet Practice/API/bin/Debug/net5.0/API.runtimeconfig.dev.json
Dotnet Practice/API/bin/Debug/net5.0/ref/API.dll
Dotnet Practice/API/obj/API.csproj.nuget.cache
Dotnet Practice/API/obj/API.csproj.nuget.dgspec.json
Dotnet Practice/API/obj/API.csproj.nuget.g.props
Dotnet Practice/API/obj/project.assets.json
Dotnet Practice/API/obj/project.packagespec.json
Dotnet Practice/API/obj/Debug/net5.0/API.assets.cache
Dotnet Practice/API/obj/rider.project.restore.info
Dotnet Practice/API/obj/Debug/net5.0/API.csproj.CoreCompileInputs.cache
Dotnet Practice/API/obj/Debug/net5.0/API.csproj.FileListAbsolute.txt
Dotnet Practice/API/obj/Debug/net5.0/API.csprojAssemblyReference.cache
Dotnet Practice/API/obj/Debug/net5.0/API.dll
Dotnet Practice/API/obj/Debug/net5.0/API.genruntimeconfig.cache
Dotnet Practice/API/obj/Debug/net5.0/API.MvcApplicationPartsAssemblyInfo.cs
Dotnet Practice/API/obj/Debug/net5.0/API.pdb
Dotnet Practice/API/obj/Debug/net5.0/apphost.exe
